<div class="card mb-4" *ngIf="cartItems?.length">
  <div class="card-body">
    <div *ngFor="let item of cartItems" class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" [src]="item.sku.image" alt="sample image">
          </div>
          <div class="col-6 col-md-7">
            <h5>{{item.sku.title}}</h5>
            <ul class="nav">
              <li class="nav-item">
                <button class="btn btn-link" aria-current="delete-button" (click)="deleteItem(item)">Delete</button>
              </li>
            </ul>
          </div>
          <div class="col-3 col-md-2">
            <p class="h5 text-end text-nowrap">{{item.sku.price | currency:'USD':'symbol':'.2'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!cartItems?.length">Your shopping cart is empty.</div>